<h2 class="contact">Contact me!</h2>

<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xbjbqvkp" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Full Name</label>
    <br>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
    <br>
    <label for="email-address">Email Address</label>
    <br>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.xyz" required="">
    <br>
    <label for="message">Message</label>
    <br>
    <textarea rows="5" name="message" id="message" placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus." required=""></textarea>
    <br>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Submit">
</form>

<p class="contact_link">Email me: 
  <a href="mailto:seldomrealized@gmail.com?subject = Ableton Lessons&body = Hello, I'd like to inquire about signing up for music production lessons.">
  seldomrealized@gmail.com
  </a>
</p>

<p class="contact_link">DM me: 
  <a href="https://twitter.com/messages/compose?recipient_id=1503204511527038977" class="twitter-dm-button" data-screen-name="@permafriday">
    @permafriday
  </a>
</p>




<style>

  .contact_link a {
      text-decoration: none;
      color: rgb(var(--accent))
    }

</style>