---
import Layout from '../layouts/Layout.astro';
import ContactMe from '../components/sections/ContactMe.astro';
import MyWork from '../components/sections/MyWork.astro';
---

<Layout title="Ableton with Elijah">
	<main>
		<h1 class="title">Ableton Lessons by <span class="text-gradient">Elijah</span></h1>
		<p class="subtitle noselect">Learn to produce music like the pros!</p>
		
		<br>

		<MyWork />

		<br>

		<section>
			<h2>Payment options</h2>
				<ul>
					<li>Cash App</li>
					<li>Venmo</li>
					<li>PayPal</li>
					<li>Crypto</li>
				</ul>
		</section>
		
		<section>
			<h2>Video options</h2>
				<ul>
					<li>Zoom</li>
					<li>Google Meet (Duo)</li>
					<li>Skype</li>
				</ul>
		</section>

		<section>
			<h2>Screen-sharing options</h2>
				<ul>
					<li>AnyDesk</li>
					<li>TeamViewer</li>
				</ul>
		</section>
		<br>

		<ContactMe class=".section" />

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		max-width: 1024px;
	}
	h1 {
		/* font-size: 10vw; */
		font-size: 8vw;
		font-weight: 800;
		line-height: 1.25;
		margin: 0;
		margin-bottom: 1.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.subtitle {
		/* line-height: 1.6; */
		margin: 0.5rem 0;
		/* outline: 2px solid rgba(var(--accent), 25%); */
		/* color: hsl(262, 83%, 65%); */
		color: white;
		text-shadow: hsla(0, 0%, 0%, 75%) 1px 0 10px, hsla(0, 0%, 0%, 90%) -1px 0 5px;
		/* background-color: white; */
		background: var(--accent-gradient_full) no-repeat center center fixed;
		padding: 1rem;
		font-size: minmax(3vw, 30px);
		font-weight: 500;
		letter-spacing: 1.2px;
		font-style: italic;
		border-radius: 0.5rem;
		text-align: center;
		-webkit-transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		transition: all 1s ease-out;
	}
	.subtitle:hover {
		/* color: hsl(0, 0%, 5%); */
		text-shadow: white 1px 0 10px, white -1px 0 5px;
	}

</style>
